* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Courier New', Courier, monospace;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
}

#game-container {
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: row;
}

#log-container {
	background-color: grey;
	display: inline-block;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	width: min-content;
}

#log-border {
	display: flex;
	flex-direction: column;
	background-color: black;
	flex-grow: 10;
	flex-basis: 0;
	border: 4px solid black;
	border-radius: 5px;
	margin: 10px;
	margin-bottom: 0px;
	margin-right: 5px;
	min-height: 0; 
 	overflow: hidden; 
}

#log {
	color: white;
	padding: 8px;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
	min-width: 0;
	overflow-wrap: anywhere;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#log::-webkit-scrollbar {
  	display: none;
}

#input-container {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: row;
	padding: 10px;
	padding-right: 5px;
	background-color: grey;
}

#user-input {
	font-family: 'Courier New', Courier, monospace;
	flex-grow: 10;
	flex-basis: 0;
	width: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 0px;
	border-color: black;
	padding-left: 10px;
	border-style: outset;
	font-size: calc(10px + 2vh);
	background-color: black;
	color: white;
}
#user-input:focus {
    outline: none;
}

#enter-button {
	flex-grow: 1;
	flex-basis: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0px;
	border-color: black;
	font-family: 'Courier New', Courier, monospace;
	font-size: calc(10px + 2vh);
	font-weight: bold;
	background-color: green;
	color: white;
}

#word-container {
	background-color: grey;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	width: min-content;
}

#column-container {
	flex-grow: 4;
	flex-basis: 0;
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-left: 5px;
}

#room-column {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#room-header {
	background-color: rgb(209,25,25);
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	flex-basis: 0;
	font-weight: bold;
}

#room-list {
	background-color: rgb(224,102,102);
	flex-grow: 10;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 3px;
	overflow-wrap: anywhere;
	border: 3px solid rgb(209,25,25);
	border-bottom-left-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#room-list::-webkit-scrollbar {
  	display: none;
}


#inventory-column {
	background-color: lightgreen;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
}

#inventory-header {
	background-color: rgb(0,210,255);
	justify-content: center;
	display: flex;
	text-align: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	font-weight: bold;
}

#inventory-list {
	background-color: rgb(155,237,255);
	flex-grow: 10;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 3px;
	border: 3px solid rgb(0,210,255);
	overflow-wrap: anywhere;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#inventory-list::-webkit-scrollbar {
  	display: none;
}


#atlas-column {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
}

#atlas-header {
	background-color: rgb(103,78,167);
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	flex-basis: 0;
	font-weight: bold;
}

#atlas-list {
	background-color: rgb(148,131,193);
	flex-grow: 10;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 3px;
	border: 3px solid rgb(103,78,167);
	border-bottom-right-radius: 5px;
	overflow-wrap: anywhere;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#atlas-list::-webkit-scrollbar {
  	display: none;
}


#command-container {
	background-color: chocolate;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: row;
}

.clickable {
	font-style: italic;
}

.list-index {
	display: flex;
	flex-direction: row;
}

.list-dot {
	white-space: pre;
}

.log-entry-server {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-indent: 2em;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.log-entry-player {
	padding-top: 5px;
	padding-bottom: 5px;
}

.command {
	margin: 10px;
	height: fit-content;
}